@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
 
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;

}
/* Navbar */


.nav img{
    max-height: 100px;
    max-width: 100px;
}

.nav-ul{
    list-style: none;
    padding-left: 0px;
}

li{

 color: #fff;
 margin: 60px 0 ;
 font-size: 1.2em;
 font-weight: 400;
 padding: 8px;
}

.selected-item{
    background-color: #7888AC;
    border-radius: 50%;
    padding: 8px;
    color: #FFC3AA;
}

.nav{
    margin: 0;
    height: 100vh;
	float:left;
	left:0;
	top:0;
    background: #243763;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}


.main{
    margin: auto 20px;
margin-left: 100px;
    height: 100vh;
    width: 100%;
    background: #fff;
}

.sec1{
    display: flex;
  
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

.sec1 input{
    width: 30%;
}
.sec2{
   
   
    display: flex;
    justify-content: space-between;
}
.sec2-a{
    width: 65%;
  
    margin: auto;
    margin-right:0;
    padding: 20px;
    margin-top: 5%;
    height: 450px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
   
}

.sec2 h4{
    color:  #FF6E31;

}

.sec2 ul{
    list-style: none;
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: start;
    padding: 0;
    
    
}

.sec ul li{
    background-color: #243763;
    
}

.sec2-b{
    width: 20%;
  
    margin: auto;
   
    height: 450px ;
  
    margin-top: 5%;
   
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    background-image: url("./images/qod.png");
   display: flex;
   justify-content: center;
   align-items: center;

}

.qod-bg{
    background: #242424;
    color: #fff;
    padding: 5px;
    margin: 10px;
}

.qod-bg h1{
    font-size: 1em;
}

.qod-bg p{
    font-size: 0.7em;
}


.divider-colored{
    color: #FF6E31;
    
    width: 150px;
}


.sec3{
	display: flex;
	justify-content: center;
	
}

.sec3-a{
	
    width: 65%;
  
    margin: auto;
    margin-right:0;
    padding: 20px;
    margin-top: 5%;
    height: 540px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
   
}

h4{
    color:  #FF6E31;

}


.sec3-b{
	
    width: 20%;
  
    margin: auto;
   
    padding: 20px;
    margin-top: 5%;
    
  
   
}

thead{
    background-color: #243763;
    color: #fff;
}

td{
    font-size: 0.9em;
    padding: 5px;
}


.info_btn{
    color: #FF6E31;
    padding: auto;
}


.stat{
    background-color: #243763;
    color: #fff;
    margin: 10px;
    padding: 10px;
background: #243763;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
text-align: center;
height: 100px;
width: 100px;
color: #FFEBB7;
}


.stat h2{
   
    font-size: 1.2em;

}

.stat h5{
    font-size: 1em;

}

.footer{
    height: 50px;
}

#book_details{
    position: fixed;
    float: right;
    top: 0;
    right: 0;
    background-color: #fff;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
